In [1]:
import pandas as pd

df = pd.read_csv("car_ownership.csv")
df.head()

   monthly_salary  owns_car
0           22000         0
1           25000         0
2           47000         1
3           52000         0
4           46000         1

In [15]:
df.shape

(27, 2)

In [5]:
from sklearn.model_selection import train_test_split 

X = df[['monthly_salary']]
y = df['owns_car']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [7]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8888888888888888

In [ ]:
# 0.3 * 27 = 9

In [21]:
X_test

    monthly_salary
8            62000
13           29000
9            61000
21           26000
0            22000
11           28000
16           25000
17           58000
12           27000

In [19]:
y_test.to_list() # converted to 1, 0     these are the true values

[1, 0, 1, 0, 0, 0, 1, 1, 0]

In [13]:
model.predict(X_test)            # these are predicted values

array([1, 0, 1, 0, 0, 0, 0, 1, 0], dtype=int64)

In [ ]:
# 8 predictions right out  of 9
# accuracy = right predictions / total predictions
#8/9 == 88%

In [25]:
model.predict_proba(X_test)
# here 0.04530932 is the prob the person doesn't own the car  (1-0.95469068)
# 0.95469068 is the prob the person owns the car

array([[0.04530932, 0.95469068],
       [0.80955349, 0.19044651],
       [0.05158003, 0.94841997],
       [0.86480041, 0.13519959],
       [0.91687254, 0.08312746],
       [0.82967465, 0.17032535],
       [0.87995016, 0.12004984],
       [0.07564619, 0.92435381],
       [0.84806892, 0.15193108]])

In [27]:
model.coef_

array([[0.00013621]])

In [29]:
model.intercept_

array([-5.39725076])

In [31]:
# we will try to predict using a sigmoid function
import math
def sigmoid(x):
    return 1 / (1 + math.exp(-x))

In [33]:
sigmoid(7)

0.9990889488055994

In [37]:
def prediction_function(salary,model):
    z = model.coef_*salary + model.intercept_
    y = sigmoid(z)
    return y

In [39]:
prediction_function(62000,model)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5992\3793217086.py:4: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  return 1 / (1 + math.exp(-x))

0.954690678813166

In [41]:
prediction_function(29000,model)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5992\3793217086.py:4: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  return 1 / (1 + math.exp(-x))

0.1904465115158154